@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.sliderr img{
  height: 400px;
  /* height: 500px; */
  width: 100%;
  /* width: 50%; */
  border-radius: 10px;
}
.slider {
  display: flex;
}

.slick-dots {
  top: 360px; 
  left: 0px;
  color: white;
}

.slick-dots button:before,
.slick-dots li.slick-active button:before {
  color: white !important;
  font-size: 10px;
 }

/* .slick-arrow .slick-prev { */
.slick-arrow.slick-prev{
  left: 10px;
  z-index: 10;
}
.slick-arrow.slick-next{
  right: 10px;
  z-index: 10;
}